<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"> 
    
    
    <bean id="emp" class="com.edu.Employee"><!-- Employee eob=new Employee(1,"kiranya") -->
    <constructor-arg value="1" type="int"></constructor-arg>
    <constructor-arg value="kiran" type="String"></constructor-arg>
    <constructor-arg value="10000"  type="float"></constructor-arg>
    </bean>
    
     <bean id="emp1" class="com.edu.Employee"><!-- Employee eob=new Employee(2,"manisha") -->
    <constructor-arg value="2" type="int"></constructor-arg>
    <constructor-arg value="manisha" type="String"></constructor-arg>
    <constructor-arg value="20000" type="float"></constructor-arg>
    </bean>
    
    
    </beans>